/* Cabecera superior */
.top-bar {
    width: 100%; /* Ocupa todo el ancho */
    background-color: rgb(255, 255, 255); /* Fondo blanco */
    padding: 40px 0; /* Espaciado vertical amplio en la parte superior */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    position: fixed; /* Fija la cabecera en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Superposición alta para mantenerse visible */
    transition: padding 0.45s ease, height 0.45s ease; /* Transición para reducir el tamaño al hacer scroll */
  }
  
  /* Reducir el tamaño del top-bar cuando se hace scroll */
  .top-bar.scrolled {
    padding: 20px 0; /* Disminuye el espaciado al hacer scroll */
  }
  
  .logo img {
    height: 80px; /* Tamaño inicial grande */
    transition: height 0.3s ease; /* Transición para reducir el tamaño de la imagen del logo */
  }
  
  /* Reducir el tamaño del logo cuando se hace scroll */
  .top-bar.scrolled .logo img {
    height: 50px; /* Tamaño del logo al hacer scroll */
  }
  
  /* Botones de iniciar sesión y suscribirse */
  .top-actions {
    position: absolute;
    right: 50px; /* Alinea los botones a la derecha */
    display: flex;
    gap: 20px; /* Espaciado entre los botones */
    z-index: 1001; /* Mantiene los botones visibles sobre el top-bar */
  }
  
  .login-button, .subscribe-button {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 16px;
    cursor: pointer; /* Hace que el cursor cambie a un puntero al pasar el ratón */
    transition: color 0.3s ease; /* Efecto de transición para el color del texto */
  }
  
  .login-button:hover, .subscribe-button:hover {
    color: #ff4081; /* Cambia el color al pasar el ratón */
  }  