/* Contenedor del Carrusel */
#contenido.carousel-container {
  position:relative;
  width: 100%; /* 95% del ancho de la página */
  height: 80vh; /* 60% del alto de la página */
  top: 133px;
  margin: auto; /* Centrado horizontal */
  margin-top: 20px;
  background-color: rgb(218, 218, 218); /* Fondo gris claro */
  overflow: hidden; /* Oculta el contenido fuera del contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Padding adicional si es necesario 
#contenido {
  padding-top: 180px;
}*/

/* Slide del carrusel */
.carousel-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  overflow: hidden;
}

/* Ajustar el enlace (<a>) dentro del carrusel */
.carousel-slide a {
  display: block; /* Hace que el enlace ocupe todo el espacio disponible */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 100%; /* Ocupa toda la altura del contenedor */
  overflow: hidden; /* Evita que la imagen se salga */
}

/* Imagen del carrusel */
.carousel-slide img {
  width: 100%;
  height: 100%; /* Ajusta a la altura del contenedor */
  max-width: 100%;
  object-fit:unset;
  display: block;
  margin: auto;
  box-sizing: border-box;
}

/* Botones de navegación */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: rgba(16, 16, 16, 0.491);
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 5px;
  transition: transform 0.3s ease;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.left:hover {
  transform: translate(-8px, -50%);
}

.carousel-button.right {
  right: 10px;
}

.carousel-button.right:hover {
  transform: translate(8px, -50%);
}

/* Indicadores del carrusel */
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.indicator {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(13, 125, 244, 0.4); /* Más transparente */
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.indicator.active {
  transform: scale(1.5);
}

/* Progreso del indicador activo */
.progress-ring {
  position: absolute;
  top: -2.5px;
  left: -2.5px;
}

.progress-ring circle {
  transition: stroke-dashoffset 0.1s linear;
}
