* Estilos generales de la página */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', serif;
  background-color: white; /* Fondo blanco */
}

.App {
  text-align: center;
  
}

/* Variables globales */
:root {
  --header-height: 80px;
  --navbar-height: 50px;
  --header-scrolled-height: 60px;
}

/* Ajuste para el contenedor principal */
.register-main {
  margin-top: var(--header-navbar-height);
}
