* Estilos generales de la página */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', serif;
  background-color: white; /* Fondo blanco */
}

.App {
  text-align: center;
  
}


/* ✅ Reseteo global para evitar problemas con padding y borders */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Ajuste para el contenedor principal 
.register-main {
  margin-top: var(--header-navbar-height);
}*/
