/* Estilos para el "introduction" */ 
#introduction { 
    padding-top: 20px; 
  } 
  #introduction h1 { 
    color: #333; 
    margin-top: 20px; 
  } 
  #introduction p { 
    color: #666; 
    font-size: 16px; 
    line-height: 1.6; 
  } 
  /* Fin del "Estilos para el introduction */ 